* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

@font-face {
  font-family: "Roboto Black";
  src: url(../fonts/Roboto-Black.ttf);
}
@font-face {
  font-family: "Roboto Medium";
  src: url(../fonts/Roboto-Medium.ttf);
}
@font-face {
  font-family: "Roboto Regular";
  src: url(../fonts/Roboto-Regular.ttf);
}
body {
  background: white;
}

.header_menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 360px;
  height: 100%;
  background: white;
  padding: 15px;
  z-index: 55;
  transition: all 0.4s;
  transform: translateX(-100%);
  box-shadow: 1px 0 4px #00000029;
}
.header_menu.active {
  transform: translateX(0);
}
.header_menu .menu_close {
  position: absolute;
  top: 40px;
  left: 25px;
  width: 24px;
  height: 24px;
  cursor: pointer;
}
.header_menu .menu_1 {
  margin-bottom: 40px;
  width: 100%;
}
.header_menu .menu_1 .item {
  padding-left: 20%;
}
.header_menu .menu_1 .item a {
  font-family: "Roboto Regular";
  font-style: normal;
  font-weight: normal;
  font-size: 34px;
  line-height: 42px;
  text-transform: uppercase;
  color: #222222;
  text-align: left;
}
.header_menu .menu_2 {
  margin-bottom: 40px;
  width: 100%;
}
.header_menu .menu_2 .item {
  padding-left: 20%;
}
.header_menu .menu_2 .item a {
  font-family: "Roboto Regular";
  font-style: normal;
  font-weight: normal;
  font-size: 34px;
  line-height: 42px;
  text-transform: uppercase;
  color: #222222;
  text-align: left;
}
.header_menu .menu_3 {
  width: 100%;
}
.header_menu .menu_3 .item {
  padding-left: 20%;
}
.header_menu .menu_3 .item a {
  font-family: "Roboto Regular";
  font-style: normal;
  font-weight: normal;
  font-size: 34px;
  line-height: 42px;
  text-transform: uppercase;
  color: #222222;
  text-align: left;
}

.header_top {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
  z-index: 2;
  background: white;
  display: flex;
  align-items: center;
}
.header_top .search_form {
  display: flex;
  align-items: center;
  margin-right: 20px;
}
.header_top .search_form input {
  background: transparent;
  border-radius: 0;
  border: none;
  border-bottom: 1px solid #000;
  color: #000;
  max-width: 100px;
}
.header_top .search_form input:focus {
  outline: none;
  color: #000;
}
.header_top .search_form input::placeholder {
  color: #000;
}
.header_top .search_form label {
  font-family: "Roboto Medium";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  text-transform: uppercase;
  color: #000;
  margin-right: 10px;
  margin-bottom: 0;
}
.header_top .login {
  font-family: "Roboto Medium";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  text-transform: uppercase;
  color: #000;
  margin-right: 15px;
  display: inline-block;
}
.header_top .login:hover {
  text-decoration: none;
}
.header_top .help {
  font-family: "Roboto Medium";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  text-transform: uppercase;
  color: #000;
  margin-right: 15px;
  display: inline-block;
}
.header_top .help:hover {
  text-decoration: none;
}
.header_top .cart {
  display: inline-block;
  width: 24px;
  height: 24px;
}
.header_top .search_ico {
  display: none;
  margin-right: 10px;
  width: 24px;
  height: 24px;
}

.detail {
  display: flex;
  flex-wrap: wrap;
}
.detail .left {
  width: 50%;
  z-index: 3;
  position: relative;
}
.detail .left .menu_open {
  position: absolute;
  top: 35px;
  left: 25px;
  cursor: pointer;
}
.detail .left img {
  display: block;
  width: 100%;
}
.detail .right {
  width: 50%;
  padding: 115px 30px 40px;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
}
.detail .right .title {
  font-family: "Roboto Black";
  font-style: normal;
  font-weight: bold;
  font-size: 34px;
  line-height: 42px;
  color: #222222;
  text-transform: uppercase;
  margin-bottom: 8px;
}
.detail .right .price {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}
.detail .right .price .price_before {
  font-family: "Roboto Regular";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 22px;
  color: #222222;
  text-transform: uppercase;
  text-decoration: line-through;
  margin-right: 11px;
}
.detail .right .price .price_after {
  font-family: "Roboto Regular";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 22px;
  color: #D13838;
  text-transform: uppercase;
  margin-right: 11px;
}
.detail .right .price .price_sale {
  font-family: "Roboto Regular";
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #222222;
  display: inline-block;
  border: 1px solid #222;
  padding: 1px 4px;
}
.detail .right .desc {
  margin-bottom: 30px;
}
.detail .right .desc .desc_title {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #222222;
  margin-bottom: 15px;
}
.detail .right .desc .desc_text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #222222;
}
.detail .right .findout_more {
  display: flex;
  align-items: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #222222;
}
.detail .right .findout_more img {
  margin-left: 5px;
}
.detail .right .sizes {
  margin: 25px 0;
  padding: 25px 0;
  border-top: 1px solid #222;
  border-bottom: 1px solid #222;
  width: 100%;
}
.detail .right .sizes .size {
  margin-bottom: 20px;
}
.detail .right .sizes .size:last-child {
  margin-bottom: 0;
}
.detail .right .sizes .size a {
  font-family: "Roboto Black";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
  color: #222222;
}
.detail .right .buttons {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
  justify-content: space-between;
  width: 100%;
}
.detail .right .buttons .font_size {
  width: 47%;
  display: inline-block;
  padding: 15px;
  border: 1px solid #222;
  font-family: "Roboto Black";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #222222;
  text-transform: uppercase;
  background: #fff;
  text-align: center;
}
.detail .right .buttons .add {
  width: 47%;
  display: inline-block;
  padding: 15px;
  border: 1px solid #222;
  font-family: "Roboto Black";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  background: #222222;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
}
.detail .right .colors {
  margin-bottom: 50px;
}
.detail .right .colors .colors_title {
  margin-bottom: 15px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  color: #222222;
  text-transform: uppercase;
}
.detail .right .colors .colors_box {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.detail .right .colors .colors_box .color_item {
  margin-right: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}
.detail .right .colors .colors_box .color_item span {
  margin-top: 10px;
}
.detail .right .colors .info .info_item {
  margin-bottom: 20px;
}
.detail .right .colors .info .info_item .info_dropp {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.detail .right .colors .info .info_item .info_dropp .info_title {
  font-family: "Roboto Regular";
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 22px;
  color: #222222;
  text-transform: uppercase;
  margin-left: 10px;
}
.detail .right .colors .info .info_item .info_dropp.active img {
  transform: rotate(90deg);
}
.detail .right .colors .info .info_item .hidden_info {
  padding-left: 15px;
  font-family: "Roboto Regular";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #222222;
  transform: scaleY(0);
  height: 0px;
  transition: all 0.3s;
}
.detail .right .colors .info .info_item .hidden_info.active {
  transform: scaleY(1);
  height: auto;
}

@media screen and (max-width: 820px) {
  .header_top .search_form {
    display: none;
  }
  .header_top .login {
    display: none;
  }
  .header_top .help {
    display: none;
  }
  .header_top .cart {
    display: inline-block;
    width: 24px;
    height: 24px;
  }
  .header_top .search_ico {
    display: inline-block;
  }
}
@media screen and (max-width: 630px) {
  .detail .left {
    width: 100%;
  }
  .detail .right {
    width: 100%;
  }
  .detail .right .buttons .font_size {
    font-size: 12px;
    line-height: 16px;
  }
  .detail .right .buttons .add {
    font-size: 12px;
    line-height: 16px;
  }
}

/*# sourceMappingURL=detail.css.map */
