* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

@font-face {
  font-family: "Yandex Sans Text";
  src: url(../fonts/YandexSansText-Regular.ttf);
}
/* ----------------------- logo title --------------------- */
.logo {
  text-align: center;
  margin: 12px 0;
  width: 100%;
}
.logo img {
  width: 80px;
}

/* ----------------------- logo title end --------------------- */
/* ----------------------- filters --------------------- */
.filters {
  width: 100%;
  padding: 0 0 20px 16px;
  margin: 10px 0;
  border-bottom: 1px solid #E5E5E5;
}

.filters__slides {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}
.filters__slides::-webkit-scrollbar {
  display: none;
}

.filters__slide {
  scroll-snap-align: start;
  flex-shrink: 0;
  width: auto;
  padding: 8px 10px;
  margin-right: 6px;
  border-radius: 8px;
  transform-origin: center center;
  transform: scale(1);
  transition: transform 0.5s;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #EFEFEF;
}

.filters__btn {
  font-family: "Yandex Sans Text";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  text-transform: uppercase;
  color: #222222;
  opacity: 0.87;
}

/* ------------------ filters end ---------------- */
/* ------------------- footer ------------------- */
body {
  position: relative;
  padding-bottom: 65px;
}

.footer {
  background: #fff;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 33;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #E5E5E5;
}

.footer__item {
  position: relative;
}

.footer__cartCounter {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 14px;
  height: 14px;
  background: #222222;
  color: white;
  font-family: "Yandex Sans Text";
  font-style: normal;
  font-weight: normal;
  font-size: 9px;
  line-height: 11px;
  text-align: center;
  border-radius: 50%;
  top: -1px;
  right: 4px;
}

.footer__element {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Yandex Sans Text";
  font-size: 10px;
  line-height: 12px;
  color: #222222;
  opacity: 0.25;
  text-transform: capitalize;
  padding: 0 3px;
}
.footer__element.active {
  opacity: 1;
}
.footer__element.active .footer__house {
  background: url(../images/house-h.png) no-repeat center center;
}
.footer__element.active .footer__list {
  background: url(../images/list-h.png) no-repeat center center;
}
.footer__element.active .footer__like {
  background: url(../images/like-h.png) no-repeat center center;
}
.footer__element.active .footer__user {
  background: url(../images/user-h.png) no-repeat center center;
}
.footer__element.active .footer__cart {
  background: url(../images/cart-h.png) no-repeat center center;
}

.footer__img {
  display: block;
  width: 22px;
  height: 22px;
  margin-bottom: 5px;
}

.footer__house {
  background: url(../images/house.png) no-repeat center center;
}

.footer__list {
  background: url(../images/list.png) no-repeat center center;
}

.footer__like {
  background: url(../images/like.png) no-repeat center center;
}

.footer__user {
  background: url(../images/user.png) no-repeat center center;
}

.footer__cart {
  background: url(../images/cart.png) no-repeat center center;
}

/* ------------------- footer end ------------------- */
/* ------------------- products ------------------- */
.products {
  padding: 15px 16px 0;
  width: 100%;
}

.products__filters {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.products__filter-text {
  font-family: "Yandex Sans Text";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #222222;
  opacity: 0.87;
}

.products__filter-brn {
  display: inline-block;
  font-family: "Yandex Sans Text";
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #222222;
}

.dropdown {
  display: inline-block;
  position: relative;
}

.dropdown__text {
  display: inline-block;
  font-family: "Yandex Sans Text";
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #222222;
  position: relative;
}
.dropdown__text:after {
  content: "";
  position: absolute;
  top: 30%;
  right: -15px;
  display: block;
  width: 12px;
  height: 8px;
  background: url(../images/arrow-down.png) no-repeat center center;
}

.dropdown__input {
  display: none;
}

.dropdown__menu {
  position: absolute;
  z-index: 55;
  width: 150%;
  background: #fff;
  top: 100%;
  padding: 10px;
  margin: 2px 0 0 0;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
  list-style-type: none;
}
.dropdown__menu li {
  font-family: "Yandex Sans Text";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
  text-transform: uppercase;
  color: #222222;
  margin-bottom: 3px;
}

.dropdown__input + .dropdown__menu {
  display: none;
}

.dropdown__input:checked + .dropdown__menu {
  display: block;
}

.products__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0 30px;
}

.products__item {
  width: 48%;
  position: relative;
  border: 1px solid #E5E5E5;
  border-radius: 8px;
  padding: 30px 0 20px;
  margin-bottom: 10px;
}

.products__img-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90px;
  width: 90px;
  margin: 0 auto 20px;
}
.products__img-wrapper img {
  width: 100%;
}

.products__description {
  display: block;
  font-family: "Yandex Sans Text";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #838383;
  opacity: 0.87;
  margin-bottom: 0px;
  height: 40px;
}

.products__price {
  display: block;
  font-family: "Yandex Sans Text";
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #222;
  margin-bottom: 16px;
}

.products__btn {
  display: block;
  margin: 0 auto;
  border-radius: 8px;
  background: #FFDA34;
  color: #222;
  text-transform: uppercase;
  font-family: Yandex Sans Text;
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.5px;
  padding: 5px;
  width: 80%;
}

.products__like {
  display: inline-block;
  width: 14px;
  height: 17px;
  position: absolute;
  right: 15px;
  top: 10px;
}

/* ------------------- products end ------------------- */
/* ------------------- product detail ------------------- */
.productDetail {
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(20px);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 666;
  height: 100vh;
  width: 100vw;
  transform: translateY(100%);
  transition: 0.4s;
}
.productDetail.active {
  transform: translateY(0);
}

.productDetail__content {
  background: #fff;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  min-height: 50%;
  max-height: 100%;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 20px 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.productDetail__img-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  margin-bottom: 22px;
}
.productDetail__img-wrapper img {
  width: 60%;
}

.productDetail__name {
  font-family: "Yandex Sans Text";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 18px;
  text-align: center;
  color: #838383;
  opacity: 0.87;
  margin-bottom: 12px;
}

.productDetail__description {
  font-family: "Yandex Sans Text";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #838383;
  opacity: 0.87;
  margin-bottom: 25px;
}

.productDetail__tag {
  position: absolute;
  top: 20px;
  left: 20px;
  background: rgba(73, 73, 73, 0.2);
  border-radius: 8px;
  font-family: "Yandex Sans Text";
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  color: #222;
  opacity: 0.87;
  padding: 6px 10px;
}

.productDetail__like {
  display: block;
  width: 17px;
  height: 20px;
  position: absolute;
  top: 25px;
  right: 20px;
}

.productDetail__footer {
  padding-top: 20px;
  border-top: 1px solid #E5E5E5;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.productDetail__decrease,
.productDetail__increase {
  background: #EFEFEF;
  border-radius: 8px;
  width: 40px;
  height: 40px;
  font-family: "Yandex Sans Text";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 18px;
  text-align: center;
  border: none;
  color: rgba(34, 34, 34, 0.87);
}
.productDetail__decrease:focus,
.productDetail__increase:focus {
  outline: none;
}

.productDetail__footerLeft {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 135px;
}

.productDetail__footerRight {
  width: 235px;
}

.productDetail__count {
  font-family: "Yandex Sans Text";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 18px;
  text-align: center;
  color: #222222;
  opacity: 0.87;
}

.productDetail__add {
  background: #FFDA34;
  border-radius: 8px;
  height: 40px;
  padding: 0 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Yandex Sans Text";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #222222;
}
.productDetail__add span {
  font-weight: bold;
}

/* ------------------- product detail end ------------------- */

/*# sourceMappingURL=products.css.map */
