* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

@font-face {
  font-family: "Yandex Sans Text";
  src: url(../fonts/YandexSansText-Regular.ttf);
}
/* ----------------------- logo title --------------------- */
.logo {
  text-align: center;
  margin: 12px 0;
  width: 100%;
}

/* ----------------------- logo title end --------------------- */
/* ----------------------- search --------------------- */
.search {
  padding: 0 16px;
  margin: 10px 0;
  width: 100%;
}

.search__form {
  width: 100%;
}

.search__wrapper {
  width: 100%;
  position: relative;
}
.search__wrapper::before {
  position: absolute;
  left: 10px;
  top: 9px;
  content: "";
  background: url("../images/search.png") no-repeat center center;
  display: block;
  width: 20px;
  height: 20px;
  z-index: 2;
}

.search__input {
  width: 100%;
  padding: 11px 11px 11px 46px;
  background: #F2F2F2;
  border: none;
  border-radius: 8px;
}
.search__input:focus {
  outline: none;
}
.search__input::placeholder {
  font-family: "Yandex Sans Text";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -0.3px;
  color: #222222;
  opacity: 0.35;
}

/* ----------------------- search end --------------------- */
 *  /* ----------------------- filters --------------------- */
.filters {
  width: 100%;
  padding: 0 0 20px 16px;
  margin: 10px 0;
  border-bottom: 1px solid #E5E5E5;
}

.filters__slides {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}
.filters__slides::-webkit-scrollbar {
  display: none;
}

.filters__slide {
  scroll-snap-align: start;
  flex-shrink: 0;
  width: auto;
  padding: 8px 10px;
  margin-right: 6px;
  border-radius: 8px;
  transform-origin: center center;
  transform: scale(1);
  transition: transform 0.5s;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #EFEFEF;
}

.filters__btn {
  font-family: "Yandex Sans Text";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  text-transform: uppercase;
  color: #222222;
  opacity: 0.87;
}
.filters__btn img {
  width: 16px;
  height: 16px;
}

/* ------------------ filters end ---------------- */
/* ------------------ main slider ---------------- */
.mainSlider {
  width: 100%;
  margin: 10px 0;
  padding: 0 0 0 16px;
  position: relative;
}

.mainSlider__slides {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}
.mainSlider__slides::-webkit-scrollbar {
  display: none;
}

.mainSlider__slide {
  scroll-snap-align: start;
  flex-shrink: 0;
  width: 45%;
  margin-right: 10px;
  border-radius: 8px;
  transform-origin: center center;
  transform: scale(1);
  transition: transform 0.5s;
  position: relative;
}
.mainSlider__slide img {
  width: 100%;
}

/* ------------------ main slider ---------------- */
/* ------------------ top banner ---------------- */
.topBanner {
  padding: 0 16px;
  width: 100%;
}

.topBanner__img {
  width: 100%;
  border-radius: 8px;
}
.topBanner__img img {
  width: 100%;
}

/* ------------------ top banner end ---------------- */
/* ------------------ fast By ---------------- */
.fastBy {
  width: 100%;
  margin: 25px 0 15px;
  padding: 0 0 0 6px;
}

.fastBy__title {
  font-family: "Yandex Sans Text";
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
  color: #222222;
  opacity: 0.87;
  padding-left: 9px;
  margin-bottom: 18px;
}

.fastBy_slider {
  width: 100%;
  position: relative;
  padding-bottom: 15px;
}

.fastBy_slider__slides {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  padding-bottom: 15px;
}
.fastBy_slider__slides::-webkit-scrollbar {
  display: none;
}

.fastBy_slider__slide {
  scroll-snap-align: start;
  flex-shrink: 0;
  width: 32%;
  margin-right: 10px;
  border-radius: 8px;
  border: 1px solid #E5E5E5;
  transform-origin: center center;
  transform: scale(1);
  transition: transform 0.5s;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 25px;
}

.fastBy_slider__img-wrapper {
  width: 100%;
  height: 80px;
  margin: 15px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.fastBy_slider__img-wrapper img {
  max-width: 80%;
}

.fastBy_slider__description {
  font-family: "Yandex Sans Text";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #838383;
  opacity: 0.87;
  text-align: center;
  margin-bottom: 2px;
}

.fastBy_slider__price {
  font-family: "Yandex Sans Text";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #222222;
}

.fastBy_slider__btn {
  position: absolute;
  height: 30px;
  bottom: -15px;
  font-family: "Yandex Sans Text";
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #222222;
  padding: 5px 15px;
  background: #FFDA34;
  border-radius: 8px;
}

/* ------------------ fast By end ---------------- */
/* ------------------ categories ---------------- */
.categories {
  margin: 15px 0;
  padding: 0 16px;
  width: 100%;
}

.categories__title {
  font-family: "Yandex Sans Text";
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
  color: #222222;
  opacity: 0.87;
  margin-bottom: 13px;
}

.catTabs__switchers {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.catTabs__switcher {
  background: #fff;
  padding: 5px 20px;
  font-family: "Yandex Sans Text";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #222222;
  border-radius: 8px;
  opacity: 0.5;
  margin-bottom: 5px;
}
.catTabs__switcher.active {
  background: #222222;
  color: #fff;
  opacity: 1;
}

.catTabs__tab {
  display: none;
}
.catTabs__tab.active {
  display: block;
}

.catTab__item {
  position: relative;
  display: flex;
  align-items: center;
  padding: 20px 0;
  border-top: 1px solid #E5E5E5;
}
.catTab__item:last-child {
  border-bottom: 1px solid #E5E5E5;
}
.catTab__item:last-child .catTab__name {
  font-weight: bold;
}

.catTab__img {
  width: 27px;
  height: 27px;
  margin-right: 18px;
}

.catTab__name {
  font-family: "Yandex Sans Text";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #222222;
  opacity: 0.87;
}

.catTab__arrow {
  position: absolute;
  right: 20px;
}

/* ------------------ categories end ---------------- */
/* ------------------ bottom slider ---------------- */
.bottom-Slider {
  margin: 15px 0 9px;
  width: 100%;
  padding: 0 0 0 16px;
}

.bottom-Slider__title {
  font-family: "Yandex Sans Text";
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
  color: #222222;
  opacity: 0.87;
  margin-bottom: 13px;
  margin-top: 15px;
}

.bottomSlider {
  width: 100%;
  position: relative;
}

.bottomSlider__slides {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}
.bottomSlider__slides::-webkit-scrollbar {
  display: none;
}

.bottomSlider__slide {
  scroll-snap-align: start;
  flex-shrink: 0;
  width: 95%;
  border-radius: 8px;
  transform-origin: center center;
  transform: scale(1);
  transition: transform 0.5s;
  position: relative;
  margin-right: 7px;
}
.bottomSlider__slide img {
  width: 100%;
}

/* ------------------ bottom slider end ---------------- */
 *  /* ------------------- footer ------------------- */
body {
  position: relative;
  padding-bottom: 65px;
}

.footer {
  background: #fff;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 33;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #E5E5E5;
}

.footer__element {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Yandex Sans Text";
  font-size: 10px;
  line-height: 12px;
  color: #222222;
  opacity: 0.25;
  text-transform: capitalize;
  padding: 0 3px;
}
.footer__element.active {
  opacity: 1;
}
.footer__element.active .footer__house {
  background: url(../images/house-h.png) no-repeat center center;
}
.footer__element.active .footer__list {
  background: url(../images/list-h.png) no-repeat center center;
}
.footer__element.active .footer__like {
  background: url(../images/like-h.png) no-repeat center center;
}
.footer__element.active .footer__user {
  background: url(../images/user-h.png) no-repeat center center;
}
.footer__element.active .footer__cart {
  background: url(../images/cart-h.png) no-repeat center center;
}

.footer__img {
  display: block;
  width: 22px;
  height: 22px;
  margin-bottom: 5px;
}

.footer__house {
  background: url(../images/house.png) no-repeat center center;
}

.footer__list {
  background: url(../images/list.png) no-repeat center center;
}

.footer__like {
  background: url(../images/like.png) no-repeat center center;
}

.footer__user {
  background: url(../images/user.png) no-repeat center center;
}

.footer__cart {
  background: url(../images/cart.png) no-repeat center center;
}

/* ------------------- footer end ------------------- */

/*# sourceMappingURL=main.css.map */
